@use '@angular/material' as mat;

@include mat.core();

$Movie-primary: mat.define-palette(mat.$light-blue-palette);
$Movie-accent: mat.define-palette(mat.$light-green-palette);
$Movie-warn: mat.define-palette(mat.$red-palette);

$Movie-theme: mat.define-light-theme((
  color: (
    primary: $Movie-primary,
    accent: $Movie-accent,
    warn: $Movie-warn,
  )
));

@include mat.all-component-themes($Movie-theme);

$Movie-primary-dark: mat.define-palette(mat.$orange-palette);
$Movie-accent-dark: mat.define-palette(mat.$yellow-palette);
$Movie-warn-dark: mat.define-palette(mat.$red-palette);

$Movie-theme-dark: mat.define-dark-theme((
  color: (
    primary: $Movie-primary-dark,
    accent: $Movie-accent-dark,
    warn: $Movie-warn-dark,
  )
));

.dark-theme-mode{
  @include mat.all-component-themes($Movie-theme-dark);
}

